<section class="header-sec">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div>
            <img src="../../../assets/about.png">
        </div>
        <div class="content">
            <p>Our History</p>
            <h1>Where The Food’s As Good As The Root Beer.</h1>
            <h2>Satisfying people hunger for simple pleasures</h2>
            <p>May over was. Be signs two. Spirit. Brought said dry own firmament lesser best sixth deep
                abundantly
                bearing,
                him, gathering you blessed bearing he our position best ticket in month hole deep</p>
            <button mat-button>Read More</button>
        </div>
    </div>

</section>